@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@keyframes bgcolor {
    0% {
        background-color: whitesmoke
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: 
    }

    90% {
        background-color: rgb(143, 238, 206);
    }

    100% {
        background-color: darkslateblue;
    }
}
html
{
    scroll-behavior: smooth;
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;

    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}

.wrapper
{
  background: rgba(181, 205, 235, 0.5);
  border-radius: 10px;
}



.text-left
{
    font-size: 25px;
}



.nav-link {
    font-family: Robot, sans-serif;
    font-size:  15px;
}
.nav-link:hover {
    font-family: 'Satisfy';
  text-decoration: underline;
    font-weight: 700;
}

h1 {
    font-family: 'Satisfy';
    color: #006DF0;
    font-weight: bold;
    font-size: 180px;
}

h2 {
    font-family: 'Satisfy';
    color: black;
    font-weight: bold;
    font-size: 50px;
}

.col-sm-12 {
    background-color: lightgray;
    border-radius: 10px;
}

.col-sm-12:hover {
    border-radius: 10px;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.col-sm-5 {
    background-color: lightgray;
    border-radius: 10px;
}

.col-sm-5:hover {
    border-radius: 10px;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.col-md-4 {
    background-color: lightgray;
}

#contact1 {
    background-color: lightgray;
    border-radius: 10px;
}

#contact1:hover {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.contact2 {
    font-size: 40px;
}

.fab {
    font-size: 150px;
}

span:hover {
    color: black;
}

.fab:hover {
    color: black;
}

/* .fas {
    font-size: 150px;
}
 */
.fas:hover {
    color: black;
}

.pskills {
    font-size: 15px;
}

img {
    height:500px;
    width: 100%;
}


.skill__list--item,
.list--item {
    margin-bottom: 0.3em;
}
.skill__list
{
    list-style-type: none;
}

.carousel-control-prev-icon, .carousel-control-next-icon

{
    background-color: black;
    border-radius: 50%;
     width: 40px;
     height: 40px
}

.container
{
    list-style-type: none;
}

li .col-sm-12
{
    font-size: 125px;
}

.carous
{
    font-family: Roboto, sans-serif;
    font-size: 20px;
}

@media(max-width: 768px) {

    #container
    {
        background: rgba(181, 205, 235, 0.5); 
        border-radius: 15px;
        margin-top: 150px;
    }
    
    #icon {
        width: 200px !important;
        height: 200px !important;
    }
     
    h1 {
        font-family: 'Satisfy';
        color: #006DF0;
        font-weight: bold;
        font-size: 90px;
    }
    .carous
    {
        font-size: 15px;
    }

    #dev
    {
        margin-top: 50px !important;
    }

   /*  #lion {
        margin-top: 10px;
    } */

    .col-md-4 {
        margin-top: 15px;
    }

    .col-md-4{
        font-size: 15px;
    }
    .icons
    {
        font-size: 30px;
    }

    .align-items-end
    {
       height: 50px;
       border-bottom-left-radius: 20px;
       border-bottom-right-radius: 20px;
    }
    img
    {
        height: 165px;
    }
    .carousel-indicators
    {
        display: none;
    }


}

/* @media(min-width: 768px)
{
    .navbar
    {
        position: fixed;
        top: 0;
    }
} */